#### Import Libraries

In [1]:
import pandas as pd

#### Load CLEANED Dataset

In [2]:
df = pd.read_csv("C:\data-analysis-basics\week2\winemag-data-130k-v2.csv.zip")

#### Sanity Check

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129971 non-null  int64
 1   country                129908 non-null  object
 2   description            129971 non-null  object
 3   designation            92506 non-null   object
 4   points                 129971 non-null  int64
 5   price                  120975 non-null  float64
 6   province               129908 non-null  object
 7   region_1               108724 non-null  object
 8   region_2               50511 non-null   object
 9   taster_name            103727 non-null  object
 10  taster_twitter_handle  98758 non-null   object
 11  title                  129971 non-null  object
 12  variety                129970 non-null  object
 13  winery                 129971 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 13.9+ MB

#### Country-Level Summary

In [4]:
country_summary = (
    df.groupby("country")
      .agg(
          wine_count=("points", "count"),
          avg_price=("price", "mean"),
          avg_points=("points", "mean")
      )
      .sort_values(by="avg_points", ascending=False)
      .reset_index()
)

country_summary.head()

   country  wine_count  avg_price  avg_points
0  England          74  51.681159   91.581081
1    India           9  13.333333   90.222222
2  Austria        3345  30.762772   90.101345
3  Germany        2165  42.257547   89.851732
4   Canada         257  35.712598   89.369650

#### Variety-Level Analysis

In [5]:
variety_summary = (
    df.groupby("variety")
      .agg(
          wine_count=("points", "count"),
          avg_points=("points", "mean")
      )
      .query("wine_count >= 100")
      .sort_values(by="avg_points", ascending=False)
      .reset_index()
)

variety_summary.head(10)

             variety  wine_count  avg_points
0  Sangiovese Grosso         751   90.529960
1           Nebbiolo        2804   90.251070
2      Blaufr√§nkisch         232   90.021552
3   Gr√ºner Veltliner        1345   89.980669
4         Tinto Fino         100   89.880000
5         Sagrantino         104   89.826923
6             Sherry         100   89.820000
7               Port         668   89.733533
8  Nerello Mascalese         117   89.683761
9    Champagne Blend        1396   89.663324

#### Price vs Quality

In [6]:
# Create price bins
price_bins = [0, 10, 20, 30, 50, 100, 500]
df["price_range"] = pd.cut(df["price"], bins=price_bins)

In [7]:
price_quality_summary = (
    df.groupby("price_range")
      .agg(
          wine_count=("points", "count"),
          avg_points=("points", "mean")
      )
      .reset_index()
)

price_quality_summary

C:\Users\KEERTHI\AppData\Local\Temp\ipykernel_38784\3605340001.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("price_range")

  price_range  wine_count  avg_points
0     (0, 10]        6280   85.024045
1    (10, 20]       40061   86.818527
2    (20, 30]       27114   88.253633
3    (30, 50]       27746   89.585057
4   (50, 100]       16408   91.045770
5  (100, 500]        3275   92.741069

#### Winery Performance

In [8]:
winery_summary = (
    df.groupby("winery")
      .agg(
          wine_count=("points", "count"),
          avg_points=("points", "mean")
      )
      .query("wine_count >= 50")
      .sort_values(by="avg_points", ascending=False)
      .reset_index()
)

winery_summary.head(10)

                   winery  wine_count  avg_points
0                  Cayuse          81   93.888889
1             Betz Family          53   92.924528
2                  Lynmar         118   92.805085
3         Williams Selyem         211   92.744076
4              K Vintners          66   92.696970
5               Trisaetum          70   92.600000
6             Robert Weil          61   92.557377
7           Merry Edwards          66   92.545455
8  Domaine Zind-Humbrecht         101   92.524752
9                Carlisle          57   92.421053

#### Province / Region Analysis

In [9]:
province_summary = (
    df.groupby("province")
      .agg(
          wine_count=("points", "count"),
          avg_points=("points", "mean")
      )
      .query("wine_count >= 30")
      .sort_values(by="avg_points", ascending=False)
      .reset_index()
)

province_summary.head(10)

     province  wine_count  avg_points
0      Wachau         353   91.620397
1     England          74   91.581081
2     Kamptal         409   91.454768
3  Traisental          43   91.255814
4  Leithaberg          42   91.166667
5    Rheingau         315   90.980952
6    Kremstal         340   90.873529
7      Tokaji          46   90.847826
8      Wagram          65   90.753846
9   Carnuntum         103   90.252427

#### Why reset_index() Matters

In [10]:
country_summary.index

RangeIndex(start=0, stop=43, step=1)

#### Export Reports

In [11]:
country_summary.to_csv("country_summary.csv", index=False)
variety_summary.to_csv("variety_summary.csv", index=False)
winery_summary.to_csv("winery_summary.csv", index=False)
price_quality_summary.to_csv("price_quality_summary.csv", index=False)

#### üí• MINI PROJECT ‚Äî SUMMARY REPORT GENERATOR

In [12]:
def country_report(df):
    return (
        df.groupby("country")
          .agg(
              wine_count=("points", "count"),
              avg_price=("price", "mean"),
              avg_points=("points", "mean")
          )
          .sort_values(by="avg_points", ascending=False)
          .reset_index()
    )

def variety_report(df):
    return (
        df.groupby("variety")
          .agg(
              wine_count=("points", "count"),
              avg_points=("points", "mean")
          )
          .query("wine_count >= 100")
          .sort_values(by="avg_points", ascending=False)
          .reset_index()
    )

def winery_report(df):
    return (
        df.groupby("winery")
          .agg(
              wine_count=("points", "count"),
              avg_points=("points", "mean")
          )
          .query("wine_count >= 50")
          .sort_values(by="avg_points", ascending=False)
          .reset_index()
    )

#### Run & Save Reports

In [13]:
country_report(df).to_csv("country_summary.csv", index=False)
variety_report(df).to_csv("variety_summary.csv", index=False)
winery_report(df).to_csv("winery_summary.csv", index=False)
price_quality_summary.to_csv("price_quality_summary.csv", index=False)